<section id="about" class="section">
  <div class="container">
    <h2 class="title visually-hidden">About the Game</h2>
    <div class="container-about">
      <div class="bg-img-about"></div>
      <div class="about-descsription-wrapper">
        <p class="game-description-intro">
          Welcome to Puzzle Twist Game, where logic meets motion and every level
          spins your mind in a new direction!
        </p>
        <p class="game-description-details">
          Slide, rotate, and strategically match tiles to solve increasingly
          complex puzzles. With rotating mechanics, shifting boards, and
          unexpected patterns, this isn&rsquo;t your typical puzzle game —
          it&rsquo;s a challenge for thinkers, planners, and quick
          decision-makers.
        </p>
      </div>
    </div>
  </div>
</section>

