<a
  href="https://play.google.com/store/apps/details?id=games.funfuse.puzzletwist&hl=en&gl=us&pli=1"
  role="button"
  target="_blank"
  rel="noopener noreferrer"
  class="button"
>
  <img
    src="/img/get-started/google_play_logo.png"
    srcset="
      /img/get-started/google_play_logo.png    1x,
      /img/get-started/google_play_logo@2x.png 2x
    "
    alt="Google Play logo"
    class="google-play-logo"
  />
  <div>
    <p class="button-title">Play Now on</p>
    <p class="button-subtitle">Google Play</p>
  </div>
</a>
