<section class="section section-core-advantages">
  <div class="container container-core-advantages">
    <h2 class="core-advantages-title">Can you master the twist?</h2>
    <ul class="core-advantages-list">
      <li>
        <img
          class="core-advantages-thumb"
          src="/img/core-advantages/cube_up.png"
          srcset="
            /img/core-advantages/cube_up.png    1x,
            /img/core-advantages/cube_up@2x.png 2x
          "
          alt="Puzzle cub"
          width="100"
          height="100"
        />
        <p class="core-advantages-text">
          Designed to challenge your logic and spatial awareness.
        </p>
      </li>
      <li>
        <img
          class="core-advantages-thumb"
          src="/img/core-advantages/cube_down.png"
          srcset="
            /img/core-advantages/cube_down.png    1x,
            /img/core-advantages/cube_down@2x.png 2x
          "
          alt="Puzzle cub"
          width="100"
          height="100"
        />
        <p class="core-advantages-text">
          Rotational mechanics add a new dimension to match-based gameplay.
        </p>
      </li>
      <li>
        <img
          class="core-advantages-thumb"
          src="/img/core-advantages/cube_up.png"
          srcset="
            /img/core-advantages/cube_up.png    1x,
            /img/core-advantages/cube_up@2x.png 2x
          "
          alt="Puzzle cub"
          width="100"
          height="100"
        />
        <p class="core-advantages-text">
          Levels that adapt to your progress with evolving complexity.
        </p>
      </li>
    </ul>
  </div>
</section>
