<footer class="footer section">
  <div class="container footer-container">
    <div class="mobile-img-footer-top"></div>
    <a class="logo-link" href="../index.html">
      <img
        src="/img/footer/logo.png"
        alt="Logo"
        width="80"
        height="80"
        srcset="/img/footer/logo.png 1x, /img/footer/logo@2x.png 2x"
      />
    </a>
    <ul class="legal-list">
      <li><a href="../terms.html" class="legal-link">Privacy Policy</a></li>
      <li>
        <a href="../privacy.html" class="legal-link">Terms & Conditions</a>
      </li>
      <li><a href="../cookies.html" class="legal-link">Cookies Policy</a></li>
    </ul>
    <p class="copy-text">
      &copy; 2025 twistempirepuzzle.com. All rights reserved.
    </p>
    <div class="mobile-img-footer-bottom"></div>
  </div>
</footer>
