<section class="section section-game-worlds">
  <div class="container">
    <h2 class="game-words-title">Puzzle worlds</h2>
    <div class="game-words-swiper" id="game-words-swiper">
      <div class="swiper-wrapper game-words-swiper-wrapper">
        <div class="swiper-slide game-words-wrap">
          <img
            class="game-words-img"
            src="/img/game-words/puzzle_grid.png"
            srcset="
              /img/game-words/puzzle_grid.png    1x,
              /img/game-words/puzzle_grid@2x.png 2x
            "
            alt="Grid Garden"
          />
          <h3 class="game-words-block-title">Grid Garden</h3>
          <p class="game-words-block-text">
            Where the basics begin — calm, clean, and color-focused.
          </p>
        </div>

        <div class="swiper-slide game-words-wrap">
          <img
            class="game-words-img"
            src="/img/game-words/puzzle_iced.png "
            srcset="
              /img/game-words/puzzle_iced.png    1x,
              /img/game-words/puzzle_iced@2x.png 2x
            "
            alt="Iced Circuite"
          />
          <h3 class="game-words-block-title">Iced Circuite</h3>
          <p class="game-words-block-text">
            Frozen tiles that slide unpredictably — timing is key.
          </p>
        </div>

        <div class="swiper-slide game-words-wrap">
          <img
            class="game-words-img"
            src="/img/game-words/puzzle_spin.png"
            srcset="
              /img/game-words/puzzle_spin.png    1x,
              /img/game-words/puzzle_spin@2x.png 2x
            "
            alt="Spin Temple"
          />
          <h3 class="game-words-block-title">Spin Temple</h3>
          <p class="game-words-block-text">
            Levels rotate randomly — master the chaos!
          </p>
        </div>

        <div class="swiper-slide game-words-wrap">
          <img
            class="game-words-img"
            src="/img/game-words/puzzle_machina.png"
            srcset="
              /img/game-words/puzzle_machina.png    1x,
              /img/game-words/puzzle_machina@2x.png 2x
            "
            alt="Machina Core"
          />
          <h3 class="game-words-block-title">Machina Core</h3>
          <p class="game-words-block-text">
            Gears and mechanisms that move parts of the board.
          </p>
        </div>

        <div class="swiper-slide game-words-wrap">
          <img
            class="game-words-img"
            src="/img/game-words/puzzle_galaxy.png"
            srcset="
              /img/game-words/puzzle_galaxy.png    1x,
              /img/game-words/puzzle_galaxy@2x.png 2x
            "
            alt="Galaxy Twist"
          />
          <h3 class="game-words-block-title">Galaxy Twist</h3>
          <p class="game-words-block-text">
            Where the basics begin — calm, clean, and color-focused.
          </p>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
