<section class="section">
  <div class="container">
    <h2 class="get-started-title">Twist Your Mind Today!</h2>
    <div>
      <div class="mySwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide swiper-slide--one">
            <img
              src="/img/get-started/tetris.png"
              srcset="
                /img/get-started/tetris.png    1x,
                /img/get-started/tetris@x2.png 2x
              "
              alt="Tetris"
              class="get-started-img"
            />
          </div>
          <div class="swiper-slide swiper-slide--two">
            <img
              src="/img/get-started/tic-tac.png"
              srcset="
                /img/get-started/tic-tac.png    1x,
                /img/get-started/tic-tac@x2.png 2x
              "
              alt="Tic-tac"
              class="get-started-img"
            />
          </div>

          <div class="swiper-slide swiper-slide--three">
            <img
              src="/img/get-started/2048.png"
              srcset="
                /img/get-started/2048.png    1x,
                /img/get-started/2048@x2.png 2x
              "
              alt="2048"
              class="get-started-img"
            />
          </div>

          <div class="swiper-slide swiper-slide--four">
            <img
              src="/img/get-started/dice.png"
              srcset="
                /img/get-started/dice.png    1x,
                /img/get-started/dice@x2.png 2x
              "
              alt="dice"
              class="get-started-img"
            />
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>

      <div>
        <p>LKJFHSKJAFHKJS</p>
        <load src="/partials/button.html" />
      </div>
    </div>
  </div>
</section>
