<header class="header">
  <div class="container header-container">
    <nav class="nav">
      <a href="./index.html" class="link-logo">
        <img
          class="logo-img"
          src="/img/header/logo_original.jpg"
          alt="Logo"
          width="40"
          height="40"
          srcset="
            /img/header/logo_original.jpg    1x,
            /img/header/logo_original@2x.jpg 2x
          "
        />
      </a>

      <button class="burger-menu" aria-label="Open menu" data-action="open">
        <svg class="burger-menu-icon" width="40" height="40">
          <use href="/img/sprite.svg#icon-burger"></use>
        </svg>
      </button>
      <load src="/partials/nav.html" />
    </nav>
    <load src="/partials/modal-menu.html" />
  </div>
</header>
