<section class="section hero-section">
  <div class="container hero-container">
    <div class="title-wrap">
      <h1 class="main-title">Puzzle Twist Game</h1>
      <h2 class="hero-subtitle">Think smart, move fast!</h2>
      <p class="hero-hero-description">
        Slide, rotate, and match in this brain-twisting puzzle adventure
      </p>
    </div>
    <ul class="stats-list">
      <li class="stats-item">
        <div class="hero-inner">
          <svg class="hero-star-icon" width="20" height="20">
            <use href="/img/sprite.svg#icon-star"></use>
          </svg>
          <p class="stats-count">4.5</p>
        </div>
        <p class="stats-label">1K reviews</p>
      </li>
      <li class="stats-item">
        <p class="stats-count">1K+</p>
        <p class="stats-label">Downloads</p>
      </li>
    </ul>
    <load src="/partials/button.html" />
  </div>
</section>
