<ul class="nav-list">
  <li class="nav-item">
    <a class="nav-link" href="./index.html" data-nav>Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#about" data-nav>About the game</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#play" data-nav>How to play</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#features" data-nav>Features</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#reviews" data-nav>Reviews</a>
  </li>
  <li class="nav-item"><a class="nav-link" href="#faq" data-nav>Faq</a></li>
</ul>