<section class="section">
  <div class="container">
    <h2 class="reviews-title">Reviews</h2>
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="list-item">
            <p class="review-text">
              "So satisfying! The twist mechanics are brilliant. I&rsquo;ve never
              played anything like it!"
            </p>
            <div class="reviewer-info">
              <ul class="reviewer-rating-list">
                <li>
                  <svg width="20" height="20">
                    <use href="/img/sprite.svg#icon-star"></use>
                  </svg>
                </li>
                <li>
                  <svg width="20" height="20">
                    <use href="/img/sprite.svg#icon-star"></use>
                  </svg>
                </li>
                <li>
                  <svg width="20" height="20">
                    <use href="/img/sprite.svg#icon-star"></use>
                  </svg>
                </li>
                <li>
                  <svg width="20" height="20">
                    <use href="/img/sprite.svg#icon-star"></use>
                  </svg>
                </li>
                <li>
                  <svg width="20" height="20">
                    <use href="/img/sprite.svg#icon-star"></use>
                  </svg>
                </li>
              </ul>
              <p class="review-name-text">Ava N.</p>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="list-item">
            <p class="review-text">
              "Clean design, relaxing sounds, and deceptively tricky puzzles.
              10/10!"
            </p>
            <div class="reviewer-info">
              <ul class="reviewer-rating-list">
                <li>
                  <svg width="20" height="20">
                    <use href="/img/sprite.svg#icon-star"></use>
                  </svg>
                </li>
                <li>
                  <svg width="20" height="20">
                    <use href="/img/sprite.svg#icon-star"></use>
                  </svg>
                </li>
                <li>
                  <svg width="20" height="20">
                    <use href="/img/sprite.svg#icon-star"></use>
                  </svg>
                </li>
                <li>
                  <svg width="20" height="20">
                    <use href="/img/sprite.svg#icon-star"></use>
                  </svg>
                </li>
                <li>
                  <svg width="20" height="20">
                    <use href="/img/sprite.svg#icon-star"></use>
                  </svg>
                </li>
              </ul>
              <p class="review-name-text">Tyler M.</p>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="list-item">
            <p class="review-text">
              "The rotating layers make every level feel fresh and challenging."
            </p>
            <div class="reviewer-info">
              <ul class="reviewer-rating-list">
                <li>
                  <svg width="20" height="20">
                    <use href="/img/sprite.svg#icon-star"></use>
                  </svg>
                </li>
                <li>
                  <svg width="20" height="20">
                    <use href="/img/sprite.svg#icon-star"></use>
                  </svg>
                </li>
                <li>
                  <svg width="20" height="20">
                    <use href="/img/sprite.svg#icon-star"></use>
                  </svg>
                </li>
                <li>
                  <svg width="20" height="20">
                    <use href="/img/sprite.svg#icon-star"></use>
                  </svg>
                </li>
              </ul>
              <p class="review-name-text">Mina R.</p>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="list-item">
            <p class="review-text">
              "Perfect puzzle game. Addictive, calm, and clever. I play it on my
              commute!"
            </p>
            <div class="reviewer-info">
              <ul class="reviewer-rating-list">
                <li>
                  <svg width="20" height="20">
                    <use href="/img/sprite.svg#icon-star"></use>
                  </svg>
                </li>
                <li>
                  <svg width="20" height="20">
                    <use href="/img/sprite.svg#icon-star"></use>
                  </svg>
                </li>
                <li>
                  <svg width="20" height="20">
                    <use href="/img/sprite.svg#icon-star"></use>
                  </svg>
                </li>
                <li>
                  <svg width="20" height="20">
                    <use href="/img/sprite.svg#icon-star"></use>
                  </svg>
                </li>
              </ul>
              <p class="review-name-text">Eric D.</p>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="list-item">
            <p class="review-text">
              "Would love more customization themes but the gameplay is
              fantastic!"
            </p>
            <div class="reviewer-info">
              <ul class="reviewer-rating-list">
                <li>
                  <svg width="20" height="20">
                    <use href="/img/sprite.svg#icon-star"></use>
                  </svg>
                </li>
                <li>
                  <svg width="20" height="20">
                    <use href="/img/sprite.svg#icon-star"></use>
                  </svg>
                </li>
                <li>
                  <svg width="20" height="20">
                    <use href="/img/sprite.svg#icon-star"></use>
                  </svg>
                </li>
                <li>
                  <svg width="20" height="20">
                    <use href="/img/sprite.svg#icon-star"></use>
                  </svg>
                </li>
              </ul>
              <p class="review-name-text">Chloe L.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
