.link-button {
  display: flex;
  justify-content: center;
  gap: 24px;
  align-items: center;
  border: 1px solid #3342ae;
  border-radius: 12px;
  padding: 8px;
  width: 100%;
  background: rgba(229, 227, 238, 0.84);
  transition: background-color 0.3s ease;
}

.link-button:hover {
  background-color: #c6a3da;
}

.link-inner {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.button-title {
  font-size: 14px;
}

.button-subtitle {
  font-weight: 500;
}

@media screen and (min-width: 1200px) {
  .link-button {
    width: 200px;
  }
}
