.faq-title {
  font-size: 20px;
  margin-bottom: 30px;
  text-align: center;
}

.accordion-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  min-height: 310px;
}

.accordion-bg {
  min-width: 240px;
  min-height: 240px;
  background-image: url('/img/faq/faq_Img_mob.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-width: 320px) and (min-resolution: 192dpi) {
  .accordion-bg {
    background-image: url('/img/faq/faq_Img_mob@2x.png');
  }
}

.accordion-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 23px;
}

.accordion-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.accordion-header {
  font-family: var(--font-main);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  font-size: 14px;
  color: #220731;
  padding: 0;
  border: none;
  background-color: transparent;
  width: 100%;
}

.accordion-icon {
  fill: none;
  stroke: #3342ae;
  transition: transform 0.3s ease;
}

[data-icon='rotated'] {
  transform: rotate(180deg);
}

.accordion-content {
  font-weight: 300;
  transition: all 0.3s ease;
  padding: 0 43px 0 0;
}

[data-visible='hidden'] {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transform: translateY(100%);
}

[data-visible='shown'] {
  max-height: 38px;
  padding-top: 6px;
  opacity: 1;
  transform: translateY(0);
}

@media screen and (min-width: 1200px) {
  .faq-title {
    margin-bottom: 48px;
  }

  .accordion-wrapper {
    display: flex;
    flex-direction: row;
    gap: 120px;
    padding: 0 17px;
  }

  .accordion-bg {
    min-width: 288px;
    min-height: 288px;
    background-image: url('/img/faq/faq_Img_desc.png');
  }

  .accordion-list {
    gap: 23px;
  }

  .accordion-header {
    font-weight: 600;
    font-size: 16px;
    padding: 0;
  }

  .accordion-content {
    padding: 0 115px 0 0;
    width: 100%;
  }
}

@media screen and (min-width: 1200px) and (min-resolution: 192dpi) {
  .accordion-bg {
    background-image: url('/img/faq/faq_Img_desc@2x.png');
  }
}
