.game-words-swiper {
  overflow: hidden;
  position: relative;
}

.swiper-slide {
  width: 150px;
}

section .game-words-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-words-img {
  width: 100px;
  height: 100px;
  margin: 24px;
}

.game-words-block-title {
  margin-bottom: 16px;
}

.game-words-block-text {
  width: 150px;
  height: 76px;
  text-align: center;
}

section .swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  background-color: rgba(95, 45, 122, 0.2);
  border-radius: 100%;
  transition: background-color 0.3s ease;
}

section .swiper-pagination-bullet-active {
  background-color: rgba(95, 45, 122, 0.6);
}

@media screen and (min-width: 1200px) {
  .section-game-worlds {
    padding-bottom: 0;
  }
}
