.nav-list {
  display: flex;
  align-items: center;
  gap: 33px;
}

.nav-link {
  display: block;
  padding: 10px 0;
  font-size: 14px;
  text-transform: uppercase;
  transition: font-weight 0.3s ease;
}

.nav-link:hover,
.nav-link:focus {
  font-weight: 800;
}
