.section-policy {
  padding-top: 110px;
  padding-bottom: 16px;
  background-color: #f8f3fa;
}

.main-title-policy {
  font-size: 20px;
  text-align: center;
  margin-bottom: 16px;
}

.title-policy {
  font-size: 14px;
  line-height: 2.57;
  margin-bottom: 6px;
  text-align: left;
}

.bold-text-policy {
  font-weight: 700;
}

.data-policy {
  font-size: 14px;
  line-height: 2.57;
  margin-bottom: 6px;
  display: flex;
  gap: 17px;
}

.text-policy {
  font-size: 14px;
  line-height: 2.57;
}

.list-policy {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.list-policy-text {
  list-style: disc;
  padding-left: 21px;
}

.link-policy {
  font-size: 14px;
  line-height: 2.57;
  color: #0427a6;
  transition: font-weight 0.3s ease;
}

.link-policy:hover,
.link-policy:focus {
  font-weight: 800;
}

@media screen and (min-width: 1200px) {
  .section-policy {
    padding-bottom: 30px;
  }
}
